In [57]:
# WORKS ON EMPTY DATABASE - RUN ALL CELLS
# 3 SAMPLES ARE MISSING FROM METADATA BUT EXIST IN ALL_DATA - THEY HAVE BEEN DROPPED

import sqlite3
import pandas as pd

In [58]:
# Connect to the existing SQLite database
db_path = "urotheliome_data_2.db"
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

In [59]:
# Enable foreign key constraints
conn.execute("PRAGMA foreign_keys = ON;")

In [60]:
metadata_file_path = "../JBU_data/metadata_v3.tsv"
all_data_file_path = "../JBU_data/all_data_test.tsv"

In [61]:
def load_metadata_tsv(file_path):
    df = pd.read_csv(file_path, sep='\t')
    return df

def load_all_data_tsv(file_path):
    df = pd.read_csv(file_path, sep='\t', low_memory=False)
    return df

def insert_into_db(df, table_name, conn):
    """Insert a DataFrame (clean) into the specified SQLite table."""
    try:
        df.to_sql(table_name, conn, if_exists='append', index=False)
        print(f"Successfully inserted data into {table_name}")
    except Exception as e:
        print(f"Error inserting into {table_name}: {e}")
        
def merge_all_datasets(base_path):
    ''' Merges all datasets from master.tsv and saves as all_data_test.tsv '''
    master_cv = pd.read_csv(base_path + "master.tsv", delimiter="\t")
    
    all_tsv = pd.DataFrame()
    for _, row in master_cv.iterrows():
        filename, _ = row["Filename"], row["Description"]
        df = pd.read_csv(base_path + filename, delimiter="\t")
        print("Dataset: {} Shape {}".format(filename, df.shape))

        # Exclude metadata file
        if "metadata" not in filename:
            if not all_tsv.empty:
                all_tsv = pd.merge(all_tsv, df, how="outer")
            else:
                all_tsv = df
    print('completed merging')
    return all_tsv

    # Uncomment to save as .tsv
    #all_tsv.to_csv(base_path + "all_data_test.tsv", sep="\t", index=False)

In [62]:
# currently equivalent to all_data.tsv but depends on master.tsv file contents
# merged_df = merge_all_datasets("../JBU_data/")

In [63]:
metadata_df = load_metadata_tsv(metadata_file_path)
all_data_df = load_all_data_tsv(all_data_file_path)

In [64]:
# Cleaning all_data_df
#print(all_data_df.info())
#print(all_data_df.dtypes)

# Convert all columns except 'gene' to numeric, setting errors='coerce' to convert invalid values to NaN
all_data_df.iloc[:, 1:] = all_data_df.iloc[:, 1:].apply(pd.to_numeric, errors='coerce')
missing_values_count = all_data_df.iloc[:, 1:].isnull().sum().sum()
print(f"\nTotal NaN values found in expression data: {missing_values_count}")

Total NaN values found in expression data: 12884216

In [65]:
# Find rows where 'TCGA-ZF-AA56-01A' column has missing values
missing_rows = all_data_df[all_data_df['TCGA-ZF-AA56-01A'].isnull()]

# Find names of all genes (rows) with missing values
missing_genes = all_data_df[all_data_df.isnull().any(axis=1)]['genes'].tolist()

# Create a DataFrame of gene | number of samples with missing TPM value
missing_tpm_counts = all_data_df.isnull().sum(axis=1).reset_index()
missing_tpm_counts.columns = ['index', 'missing_count']
missing_tpm_counts = missing_tpm_counts[missing_tpm_counts['missing_count'] > 0]
missing_tpm_counts = missing_tpm_counts.merge(all_data_df[['genes']], left_on='index', right_index=True)
missing_tpm_counts = missing_tpm_counts[['genes', 'missing_count']]
missing_tpm_counts

                genes  missing_count
0             5S_rRNA            535
1           5_8S_rRNA            535
2                 7SK            535
46     ABBA01000933.1            535
47     ABBA01000935.2            535
...               ...            ...
59161       ZNF454-DT            351
59263          ZNF573            535
59273      ZNF582-AS1            535
59311        ZNF622P1            351
59416         ZNF731P            351

[23851 rows x 2 columns]

In [66]:
#all_data_df[all_data_df['TCGA-ZF-AA56-01A'].isnull()]

In [67]:
categorical_columns = ["subset_name", "Dataset", "Tissue", "NHU_differentiation", 
                       "Substrate", "Gender", "tumor_stage", "vital_status"]
for col in categorical_columns:
    print(f"Unique values in {col}:")
    print(metadata_df[col].unique(), "\n")

Unique values in subset_name:
['B-AC_Undiff' 'B-AC_Diff' 'B-AC_P0' 'Ur-P0' 'CF-Undiff24H' 'CF-TZPD24H'
 'CF-Undiff144H' 'CF-TZPD144H' 'UW6H' 'SW6H' 'UW24H' 'SW24H' 'Cx32-EV'
 'Cx32-WT' 'Cx32-DN' 'Ur-Diff' 'B-Diff' 'Stroma-DMSO' 'Stroma-rSHH'
 'JBU_CCL' 'McConkey_CCL' 'Uro-D' 'Uro-UD' 'Uro-P0' 'Normoxia' 'Hypoxia'
 'G9A-A366' 'G9A-A367' 'G9A-A368' 'G9A-A369' 'G9A-UNC0646' 'G9A-UNC0647'
 'G9A-UNC0648' 'G9A-UNC0649' 'CON-18dpi' 'BKPyV-18dpi' 'BKPyV-IFNG-18dpi'
 'IFNG-18dpi' 'NR-3254' 'NR-3965' 'NR-742' 'NR-ABS' 'NR-BMS' 'NR-CON'
 'NR-CP' 'NR-DEX' 'NR-EB' 'NR-F12' 'NR-GC1' 'NR-ITE' 'NR-KSFM' 'NR-RZ'
 'NR-TZ' 'NR-DIF' 'NR2-BMS' 'NR2-BMS-RZ' 'NR2-BMS-TZ' 'NR2-CON'
 'NR2-KSFMc-1mMCa' 'NR2-LY295' 'NR2-LY295-BMS' 'NR2-LY295-BMS-TZ'
 'NR2-T007' 'NR2-T007-BMS' 'NR2-T007-BMS-RZ' 'NR2-T007-BMS-TZ'
 'NR2-T007-TZ' 'NR2-TZ' 'Scram48H' 'HPGDkd48H' 'Scram144H' 'HPGDkd144H'
 'LPCAT4kd48H' 'LPCAT4kd144H' 'P0-cKIT-selection' 'P0-NGFR-selection'
 'P0-pIgR-selection' 'P0-after-selection' 'LumP' 'BaSq' 'LumU' 'SR'
 'LumNS' 'untyped' 'NE' 'Stroma-DMSO24' 'Stroma-DMSO48' 'Stroma-SAG24'
 'Stroma-SAG48' 'NMIBC-Class1' 'NMIBC-Class2b' 'NMIBC-Class2a'
 'NMIBC-Class3']

Unique values in Dataset:
['Baker_ABS-Ca' 'P0-Ureters' 'Fishwick_TZPD' 'ScratchWound' 'Cx32'
 'Bladder-vs-Ureter' 'Stroma_DMSO-rSHH' 'JBU_CCL' 'McConkey_CCL'
 'BenignUropathies' 'Hypoxia_G9A' 'Baker_BK' 'NuclearReceptor'
 'LPCAT4kd_HPGDkd' 'UrothelialSubpops' 'TCGA_MIBC' 'Stroma_DMSO-SAG'
 'UROMOL2020']

Unique values in Tissue:
['Ureter' 'Bladder' 'CCL' 'MIBC']

Unique values in NHU_differentiation:
['UD' 'ABS-Ca' 'P0' 'TZPD' nan '?' 'NR']

Unique values in Substrate:
['P' 'M' nan '?']

Unique values in Gender:
['M' 'F' nan]

Unique values in tumor_stage:
[nan '4' '3' '2' '1' 'Ta' 'T1' 'CIS']

Unique values in vital_status:
[nan 'dead' 'alive']

In [68]:
# Order of table creation + population
# - NHU
# - Dataset_Subset
# - Dataset
# - Tissue
# - Substrate
# - Gender
# - Tumor_Stage
# - Vital_Status
# - Gene
# - Sample
# - Gene_Expression

In [69]:
# NHU
nhu_df = metadata_df[['NHU_differentiation']].drop_duplicates().reset_index(drop=True)
nhu_df = nhu_df.dropna()
# Remove '?' row
nhu_df = nhu_df[nhu_df['NHU_differentiation'] != '?']
nhu_df

  NHU_differentiation
0                  UD
1              ABS-Ca
2                  P0
3                TZPD
6                  NR

In [70]:
insert_into_db(nhu_df, "NHU", conn)

Successfully inserted data into NHU

In [71]:
# Dataset_Subset
dataset_subset_df = metadata_df[['subset_name']].drop_duplicates().reset_index(drop=True)
#dataset_subset_df = dataset_subset_df.rename(columns={"subset_name": "new_column_name"})
print(dataset_subset_df.to_string())

           subset_name
0          B-AC_Undiff
1            B-AC_Diff
2              B-AC_P0
3                Ur-P0
4         CF-Undiff24H
5           CF-TZPD24H
6        CF-Undiff144H
7          CF-TZPD144H
8                 UW6H
9                 SW6H
10               UW24H
11               SW24H
12             Cx32-EV
13             Cx32-WT
14             Cx32-DN
15             Ur-Diff
16              B-Diff
17         Stroma-DMSO
18         Stroma-rSHH
19             JBU_CCL
20        McConkey_CCL
21               Uro-D
22              Uro-UD
23              Uro-P0
24            Normoxia
25             Hypoxia
26            G9A-A366
27            G9A-A367
28            G9A-A368
29            G9A-A369
30         G9A-UNC0646
31         G9A-UNC0647
32         G9A-UNC0648
33         G9A-UNC0649
34           CON-18dpi
35         BKPyV-18dpi
36    BKPyV-IFNG-18dpi
37          IFNG-18dpi
38             NR-3254
39             NR-3965
40              NR-742
41              NR-ABS
42              NR-BMS
43              NR-CON
44               NR-CP
45              NR-DEX
46               NR-EB
47              NR-F12
48              NR-GC1
49              NR-ITE
50             NR-KSFM
51               NR-RZ
52               NR-TZ
53              NR-DIF
54             NR2-BMS
55          NR2-BMS-RZ
56          NR2-BMS-TZ
57             NR2-CON
58     NR2-KSFMc-1mMCa
59           NR2-LY295
60       NR2-LY295-BMS
61    NR2-LY295-BMS-TZ
62            NR2-T007
63        NR2-T007-BMS
64     NR2-T007-BMS-RZ
65     NR2-T007-BMS-TZ
66         NR2-T007-TZ
67              NR2-TZ
68            Scram48H
69           HPGDkd48H
70           Scram144H
71          HPGDkd144H
72         LPCAT4kd48H
73        LPCAT4kd144H
74   P0-cKIT-selection
75   P0-NGFR-selection
76   P0-pIgR-selection
77  P0-after-selection
78                LumP
79                BaSq
80                LumU
81                  SR
82               LumNS
83             untyped
84                  NE
85       Stroma-DMSO24
86       Stroma-DMSO48
87        Stroma-SAG24
88        Stroma-SAG48
89        NMIBC-Class1
90       NMIBC-Class2b
91       NMIBC-Class2a
92        NMIBC-Class3

In [72]:
insert_into_db(dataset_subset_df, "Dataset_Subset", conn)

Successfully inserted data into Dataset_Subset

In [73]:
# - Dataset
dataset_df = metadata_df[['Dataset']].drop_duplicates().reset_index(drop=True)
dataset_df = dataset_df.rename(columns={"Dataset": "dataset_name"})
dataset_df

         dataset_name
0        Baker_ABS-Ca
1          P0-Ureters
2       Fishwick_TZPD
3        ScratchWound
4                Cx32
5   Bladder-vs-Ureter
6    Stroma_DMSO-rSHH
7             JBU_CCL
8        McConkey_CCL
9    BenignUropathies
10        Hypoxia_G9A
11           Baker_BK
12    NuclearReceptor
13    LPCAT4kd_HPGDkd
14  UrothelialSubpops
15          TCGA_MIBC
16    Stroma_DMSO-SAG
17         UROMOL2020

In [74]:
insert_into_db(dataset_df, "Dataset", conn)

Successfully inserted data into Dataset

In [75]:
# - Tissue
tissue_df = metadata_df[['Tissue']].drop_duplicates().reset_index(drop=True)
tissue_df = tissue_df.rename(columns={"Tissue": "tissue_name"})
tissue_df

  tissue_name
0      Ureter
1     Bladder
2         CCL
3        MIBC

In [76]:
insert_into_db(tissue_df, "Tissue", conn)

Successfully inserted data into Tissue

In [77]:
# - Substrate
substrate_df = metadata_df[['Substrate']].drop_duplicates().reset_index(drop=True)
# Remove nan
substrate_df = substrate_df.dropna()
# Remove '?' row
substrate_df = substrate_df[substrate_df['Substrate'] != '?']
substrate_df = substrate_df.rename(columns={"Substrate": "substrate_type"})
substrate_df

  substrate_type
0              P
1              M

In [78]:
insert_into_db(substrate_df, "Substrate", conn)

Successfully inserted data into Substrate

In [79]:
# - Gender
gender_df = metadata_df[['Gender']].drop_duplicates().reset_index(drop=True)
# remove nan
gender_df = gender_df.dropna()
gender_df

  Gender
0      M
1      F

In [80]:
insert_into_db(gender_df, "Gender", conn)

Successfully inserted data into Gender

In [81]:
# - Tumor_Stage
tumor_stage_df = metadata_df[['tumor_stage']].drop_duplicates().reset_index(drop=True)
tumor_stage_df = tumor_stage_df.dropna()
tumor_stage_df = tumor_stage_df.rename(columns={"tumor_stage": "stage"})
tumor_stage_df

  stage
1     4
2     3
3     2
4     1
5    Ta
6    T1
7   CIS

In [82]:
insert_into_db(tumor_stage_df, "Tumor_Stage", conn)

Successfully inserted data into Tumor_Stage

In [83]:
# - Vital_Status
vital_status_df = metadata_df[['vital_status']].drop_duplicates().reset_index(drop=True)
vital_status_df = vital_status_df.dropna()
vital_status_df = vital_status_df.rename(columns={"vital_status": "status"})
vital_status_df

  status
1   dead
2  alive

In [84]:
insert_into_db(vital_status_df, "Vital_Status", conn)

Successfully inserted data into Vital_Status

In [85]:
# - Gene
gene_df = all_data_df[['genes']].drop_duplicates().reset_index(drop=True)
gene_df = gene_df.rename(columns={"genes": "gene_name"})
gene_df

          gene_name
0           5S_rRNA
1         5_8S_rRNA
2               7SK
3              A1BG
4          A1BG-AS1
...             ...
59649         ZZEF1
59650          ZZZ3
59651  hsa-mir-1253
59652   hsa-mir-423
59653       snoZ196

[59654 rows x 1 columns]

In [86]:
insert_into_db(gene_df, "Gene", conn)

Successfully inserted data into Gene

In [87]:
# - Sample
metadata_df.replace({'?': None, 'NaN': None, '': None}, inplace=True)
metadata_df = metadata_df.where(pd.notna(metadata_df), None)  # Convert all NaNs to None

In [88]:
metadata_df.shape

(1294, 27)

In [89]:
for _, row in metadata_df.iterrows():
    cursor.execute("""
        INSERT INTO Sample (sample_id, subset_name, dataset_name, tissue_name, substrate_type, gender, 
                            tumor_stage, vital_status, nhu_differentiation, TER, days_to_death)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
    """, (
        row["Sample"], row["subset_name"], row["Dataset"], row["Tissue"], row["Substrate"],
        row["Gender"], row["tumor_stage"], row["vital_status"], row["NHU_differentiation"],
        row["TER"], row["days_to_death"]
    ))

In [90]:
metadata_df.head()

,Sample,subset_name,shared_num_same_col,Dataset,Tissue,NHU_differentiation,Substrate,TER,Gender,CCL_relatedness,...,incl_undiff_Ureter,incl_P0_Bladder,incl_P0_healthy_Bladder,incl_P0_Ureter,tumor_stage,vital_status,days_to_death,TCGA408_classifier,MIBC_2019CC,MIBC_2019CC-noSR
0,Y1026_UD,B-AC_Undiff,1,Baker_ABS-Ca,Ureter,UD,P,None,M,None,...,Y,N,N,N,None,None,NaN,None,None,None
1,Y1077_UD,B-AC_Undiff,1,Baker_ABS-Ca,Ureter,UD,P,None,M,None,...,Y,N,N,N,None,None,NaN,None,None,None
2,Y1108_UD,B-AC_Undiff,1,Baker_ABS-Ca,Ureter,UD,P,None,M,None,...,Y,N,N,N,None,None,NaN,None,None,None
3,Y1026_D,B-AC_Diff,2,Baker_ABS-Ca,Ureter,ABS-Ca,M,3922,M,None,...,N,N,N,N,None,None,NaN,None,None,None
4,Y1077_D,B-AC_Diff,2,Baker_ABS-Ca,Ureter,ABS-Ca,M,3526,M,None,...,N,N,N,N,None,None,NaN,None,None,None

In [91]:
# - Gene_Expression
all_data_df

# Drop columns if column name in {'TCGA-BL-A13I-01A', 'TCGA-BL-A13J-01A', 'TCGA-BL-A0C8-01A'}
columns_to_drop = {'TCGA-BL-A13I-01A', 'TCGA-BL-A13J-01A', 'TCGA-BL-A0C8-01A'}
all_data_df.drop(columns=columns_to_drop, inplace=True)

In [92]:
all_data_df

,genes,U0001,U0002,U0006,U0007,U0010,U0011,U0012,U0013,U0015,...,TCGA-ZF-AA4X-01A,TCGA-ZF-AA51-01A,TCGA-ZF-AA52-01A,TCGA-ZF-AA53-01A,TCGA-ZF-AA54-01A,TCGA-ZF-AA56-01A,TCGA-ZF-AA58-01A,TCGA-ZF-AA5H-01A,TCGA-ZF-AA5N-01A,TCGA-ZF-AA5P-01A
0,5S_rRNA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,4.011284,0.000000,14.847300,2.713840,3.310313,2.645880,2.059660,0.000000,0.000000
1,5_8S_rRNA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.058000,397.904000,1643.760000,697.995000,343.526000,510.180000,1215.172500,136.975000,1561.400000,264.411000
2,7SK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,91.984400,9.357257,15.890620,28.712000,0.211785,0.000000,0.180652,5.669090,350.865470,6.558230
3,A1BG,1.04,0.00,9.72,0.90,16.93,1.49,0.00,4.73,3.00,...,3.661039,8.442691,15.019774,51.167726,40.432533,5.951856,6.411895,2.223359,1.141739,4.435781
4,A1BG-AS1,0.35,5.71,8.79,0.35,5.45,0.00,0.12,1.81,1.86,...,0.880827,2.015884,2.210521,5.811502,6.002348,1.813384,2.542093,0.416332,0.298960,0.693852
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59649,ZZEF1,15.11,22.48,19.44,17.08,36.61,23.15,15.19,16.38,37.73,...,12.586699,2.814479,3.243620,1.657250,7.187627,4.612398,4.061009,5.343059,3.477896,5.060469
59650,ZZZ3,43.14,86.31,75.87,49.57,74.94,60.92,75.92,69.92,79.70,...,13.410627,8.705693,8.893364,5.270915,17.553122,9.568289,9.072469,16.116666,5.063545,16.135274
59651,hsa-mir-1253,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
59652,hsa-mir-423,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
59653,snoZ196,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000000,4.382950,3.625920,0.000000,2.125630,3.253680,4.632880,1.880980,0.000000,1.304270

In [93]:
df_long = all_data_df.melt(id_vars=["genes"], var_name="sample_id", value_name="TPM")

In [94]:
df_long

                 genes         sample_id        TPM
0              5S_rRNA             U0001        NaN
1            5_8S_rRNA             U0001        NaN
2                  7SK             U0001        NaN
3                 A1BG             U0001   1.040000
4             A1BG-AS1             U0001   0.350000
...                ...               ...        ...
77192271         ZZEF1  TCGA-ZF-AA5P-01A   5.060469
77192272          ZZZ3  TCGA-ZF-AA5P-01A  16.135274
77192273  hsa-mir-1253  TCGA-ZF-AA5P-01A   0.000000
77192274   hsa-mir-423  TCGA-ZF-AA5P-01A   0.000000
77192275       snoZ196  TCGA-ZF-AA5P-01A   1.304270

[77192276 rows x 3 columns]

In [95]:
df_long.dropna(subset=["TPM"], inplace=True)

In [96]:
df_long = df_long.rename(columns={"genes": "gene_name"})
df_long

             gene_name         sample_id         TPM
3                 A1BG             U0001    1.040000
4             A1BG-AS1             U0001    0.350000
5                 A1CF             U0001    0.020000
6                  A2M             U0001  132.120000
7              A2M-AS1             U0001    0.080000
...                ...               ...         ...
77192271         ZZEF1  TCGA-ZF-AA5P-01A    5.060469
77192272          ZZZ3  TCGA-ZF-AA5P-01A   16.135274
77192273  hsa-mir-1253  TCGA-ZF-AA5P-01A    0.000000
77192274   hsa-mir-423  TCGA-ZF-AA5P-01A    0.000000
77192275       snoZ196  TCGA-ZF-AA5P-01A    1.304270

[64308873 rows x 3 columns]

In [97]:
df_long = df_long[['sample_id', 'gene_name', 'TPM']]
df_long

                 sample_id     gene_name         TPM
3                    U0001          A1BG    1.040000
4                    U0001      A1BG-AS1    0.350000
5                    U0001          A1CF    0.020000
6                    U0001           A2M  132.120000
7                    U0001       A2M-AS1    0.080000
...                    ...           ...         ...
77192271  TCGA-ZF-AA5P-01A         ZZEF1    5.060469
77192272  TCGA-ZF-AA5P-01A          ZZZ3   16.135274
77192273  TCGA-ZF-AA5P-01A  hsa-mir-1253    0.000000
77192274  TCGA-ZF-AA5P-01A   hsa-mir-423    0.000000
77192275  TCGA-ZF-AA5P-01A       snoZ196    1.304270

[64308873 rows x 3 columns]

In [98]:
# Insert gene expression data
# for _, row in df_long.iterrows():
#     try:
#         cursor.execute("""
#             INSERT INTO Gene_Expression (sample_id, gene_name, TPM)
#             VALUES (?, ?, ?)
#         """, (row["sample_id"], row["gene_name"], row["TPM"]))
#     except sqlite3.IntegrityError:
#         # Skip if sample_id or gene_name does not exist
#         print(f"Skipping entry with missing sample or gene: {row['sample_id']}, {row['gene_name']}")

In [99]:
# Insert in bulk for efficiency
data_tuples = list(df_long.itertuples(index=False, name=None))  # Convert DataFrame to list of tuples
data_tuples

[('U0001', 'A1BG', 1.04),
 ('U0001', 'A1BG-AS1', 0.35),
 ('U0001', 'A1CF', 0.02),
 ('U0001', 'A2M', 132.12),
 ('U0001', 'A2M-AS1', 0.08),
 ('U0001', 'A2ML1', 0.0),
 ('U0001', 'A2ML1-AS1', 0.0),
 ('U0001', 'A2ML1-AS2', 0.0),
 ('U0001', 'A2MP1', 0.0),
 ('U0001', 'A3GALT2', 0.0),
 ('U0001', 'A4GALT', 50.04),
 ('U0001', 'A4GNT', 0.0),
 ('U0001', 'AA06', 0.0),
 ('U0001', 'AAAS', 31.11),
 ('U0001', 'AACS', 9.85),
 ('U0001', 'AACSP1', 0.0),
 ('U0001', 'AADAC', 0.0),
 ('U0001', 'AADACL2', 0.0),
 ('U0001', 'AADACL2-AS1', 0.0),
 ('U0001', 'AADACL3', 0.0),
 ('U0001', 'AADACL4', 0.0),
 ('U0001', 'AADACP1', 0.25),
 ('U0001', 'AADAT', 10.1),
 ('U0001', 'AAGAB', 94.86),
 ('U0001', 'AAK1', 17.89),
 ('U0001', 'AAMDC', 48.63),
 ('U0001', 'AAMP', 188.86),
 ('U0001', 'AANAT', 0.0),
 ('U0001', 'AAR2', 15.31),
 ('U0001', 'AARD', 0.0),
 ('U0001', 'AARS1', 28.43),
 ('U0001', 'AARS1P1', 0.0),
 ('U0001', 'AARS2', 10.52),
 ('U0001', 'AARSD1', 40.32),
 ('U0001', 'AARSD1P1', 0.18),
 ('U0001', 'AASDH', 8.95),
 ('U0001', 'AASDHPPT', 33.98),
 ('U0001', 'AASS', 10.78),
 ('U0001', 'AATBC', 12.93),
 ('U0001', 'AATF', 39.3),
 ('U0001', 'AATK', 0.1),
 ('U0001', 'ABALON', 0.0),
 ('U0001', 'ABAT', 38.72),
 ('U0001', 'ABCA1', 7.13),
 ('U0001', 'ABCA10', 23.64),
 ('U0001', 'ABCA11P', 2.31),
 ('U0001', 'ABCA12', 0.17),
 ('U0001', 'ABCA13', 0.45),
 ('U0001', 'ABCA17P', 0.0),
 ('U0001', 'ABCA2', 4.12),
 ('U0001', 'ABCA3', 0.2),
 ('U0001', 'ABCA4', 0.99),
 ('U0001', 'ABCA5', 32.97),
 ('U0001', 'ABCA6', 129.2),
 ('U0001', 'ABCA7', 1.64),
 ('U0001', 'ABCA8', 28.27),
 ('U0001', 'ABCA9', 21.76),
 ('U0001', 'ABCA9-AS1', 0.0),
 ('U0001', 'ABCB1', 2.89),
 ('U0001', 'ABCB10', 13.49),
 ('U0001', 'ABCB10P1', 0.0),
 ('U0001', 'ABCB10P3', 0.0),
 ('U0001', 'ABCB10P4', 0.0),
 ('U0001', 'ABCB11', 0.0),
 ('U0001', 'ABCB4', 0.0),
 ('U0001', 'ABCB5', 0.0),
 ('U0001', 'ABCB6', 28.04),
 ('U0001', 'ABCB7', 19.5),
 ('U0001', 'ABCB8', 9.24),
 ('U0001', 'ABCB9', 1.78),
 ('U0001', 'ABCC1', 3.38),
 ('U0001', 'ABCC10', 10.61),
 ('U0001', 'ABCC11', 0.17),
 ('U0001', 'ABCC12', 0.0),
 ('U0001', 'ABCC13', 0.0),
 ('U0001', 'ABCC2', 0.15),
 ('U0001', 'ABCC3', 65.04),
 ('U0001', 'ABCC4', 59.77),
 ('U0001', 'ABCC5', 181.27),
 ('U0001', 'ABCC5-AS1', 0.0),
 ('U0001', 'ABCC6', 0.0),
 ('U0001', 'ABCC6P1', 0.0),
 ('U0001', 'ABCC6P2', 0.41),
 ('U0001', 'ABCC8', 0.0),
 ('U0001', 'ABCC9', 1.32),
 ('U0001', 'ABCD1', 4.81),
 ('U0001', 'ABCD1P2', 0.0),
 ('U0001', 'ABCD1P3', 0.0),
 ('U0001', 'ABCD1P4', 0.0),
 ('U0001', 'ABCD1P5', 0.0),
 ('U0001', 'ABCD2', 0.0),
 ('U0001', 'ABCD3', 93.66),
 ('U0001', 'ABCD4', 53.92),
 ('U0001', 'ABCE1', 48.08),
 ('U0001', 'ABCF1', 41.46),
 ('U0001', 'ABCF2', 42.32),
 ('U0001', 'ABCF2P1', 0.0),
 ('U0001', 'ABCF2P2', 0.0),
 ('U0001', 'ABCF3', 31.11),
 ('U0001', 'ABCG1', 107.06),
 ('U0001', 'ABCG2', 1.9),
 ('U0001', 'ABCG4', 0.0),
 ('U0001', 'ABCG5', 0.0),
 ('U0001', 'ABCG8', 0.0),
 ('U0001', 'ABHD1', 0.0),
 ('U0001', 'ABHD10', 26.04),
 ('U0001', 'ABHD11', 41.03),
 ('U0001', 'ABHD11-AS1', 1.83),
 ('U0001', 'ABHD12', 122.27),
 ('U0001', 'ABHD12B', 0.0),
 ('U0001', 'ABHD13', 7.01),
 ('U0001', 'ABHD14A', 23.74),
 ('U0001', 'ABHD14A-ACY1', 2.92),
 ('U0001', 'ABHD14B', 60.05),
 ('U0001', 'ABHD15', 9.35),
 ('U0001', 'ABHD15-AS1', 0.0),
 ('U0001', 'ABHD16A', 2.26),
 ('U0001', 'ABHD16B', 0.0),
 ('U0001', 'ABHD17A', 44.94),
 ('U0001', 'ABHD17AP1', 0.0),
 ('U0001', 'ABHD17AP3', 0.0),
 ('U0001', 'ABHD17AP4', 0.0),
 ('U0001', 'ABHD17AP5', 0.0),
 ('U0001', 'ABHD17AP6', 0.0),
 ('U0001', 'ABHD17AP7', 0.0),
 ('U0001', 'ABHD17AP8', 0.0),
 ('U0001', 'ABHD17AP9', 0.0),
 ('U0001', 'ABHD17B', 22.18),
 ('U0001', 'ABHD17C', 18.16),
 ('U0001', 'ABHD18', 5.85),
 ('U0001', 'ABHD2', 79.63),
 ('U0001', 'ABHD3', 10.89),
 ('U0001', 'ABHD4', 4.9),
 ('U0001', 'ABHD5', 43.05),
 ('U0001', 'ABHD6', 11.25),
 ('U0001', 'ABHD8', 2.65),
 ('U0001', 'ABI1', 62.08),
 ('U0001', 'ABI1P1', 0.0),
 ('U0001', 'ABI2', 11.44),
 ('U0001', 'ABI3', 4.09),
 ('U0001', 'ABI3BP', 0.33),
 ('U0001', 'ABITRAM', 4.23),
 ('U0001', 'ABITRAMP1', 0.0),
 ('U0001', 'ABL1', 5.32),
 ('U0001', 'ABL2', 3.7),
 ('U0001', 'ABLIM1', 84.22),
 ('U0001', 'ABLIM2', 0.61),
 ('U0001', 'ABLIM3', 22.4),
 ('U0001', 'ABO', 0.83),
 ('U0001', 'ABR', 0.67),
 ('U0001', 'ABRA', 0.0),
 ('U0001', 'ABRACL', 291.04),
 ('U0001', 'ABRAXAS1', 14.42),
 ('U0001', 'ABRAXAS2', 14.75),
 ('U0001', 'ABT1', 27.5),
 ('U0001', 'ABT1P1', 0.0),
 ('U0001', 'ABTB1', 3.22),
 ('U0001', 'ABTB2', 0.84),
 ('U0001', 'ACAA1', 71.02),
 ('U0001', 'ACAA2', 13.71),
 ('U0001', 'ACACA', 15.9),
 ('U0001', 'ACACB', 7.48),
 ('U0001', 'ACAD10', 12.95),
 ('U0001', 'ACAD11', 12.2),
 ('U0001', 'ACAD8', 22.21),
 ('U0001', 'ACAD9', 40.65),
 ('U0001', 'ACADL', 0.0),
 ('U0001', 'ACADM', 77.32),
 ('U0001', 'ACADS', 16.61),
 ('U0001', 'ACADSB', 22.61),
 ('U0001', 'ACADVL', 683.0),
 ('U0001', 'ACAN', 0.86),
 ('U0001', 'ACAP1', 1.6),
 ('U0001', 'ACAP2', 31.32),
 ('U0001', 'ACAP2-IT1', 0.37),
 ('U0001', 'ACAP3', 29.56),
 ('U0001', 'ACAT1', 22.29),
 ('U0001', 'ACAT2', 37.06),
 ('U0001', 'ACBD3', 76.53),
 ('U0001', 'ACBD3-AS1', 0.0),
 ('U0001', 'ACBD4', 12.04),
 ('U0001', 'ACBD5', 55.38),
 ('U0001', 'ACBD6', 90.01),
 ('U0001', 'ACBD7', 0.28),
 ('U0001', 'ACCS', 8.54),
 ('U0001', 'ACCSL', 0.0),
 ('U0001', 'ACD', 9.89),
 ('U0001', 'ACE', 4.49),
 ('U0001', 'ACE2', 1.18),
 ('U0001', 'ACE3P', 0.0),
 ('U0001', 'ACER1', 0.0),
 ('U0001', 'ACER2', 136.51),
 ('U0001', 'ACER2P1', 0.0),
 ('U0001', 'ACER3', 9.71),
 ('U0001', 'ACHE', 1.25),
 ('U0001', 'ACIN1', 162.34),
 ('U0001', 'ACKR1', 1.95),
 ('U0001', 'ACKR2', 0.54),
 ('U0001', 'ACKR3', 15.68),
 ('U0001', 'ACKR4', 1.5),
 ('U0001', 'ACKR4P1', 0.0),
 ('U0001', 'ACLY', 63.74),
 ('U0001', 'ACMSD', 0.0),
 ('U0001', 'ACNATP', 0.0),
 ('U0001', 'ACO1', 21.97),
 ('U0001', 'ACO2', 65.85),
 ('U0001', 'ACOD1', 0.0),
 ('U0001', 'ACOT1', 3.67),
 ('U0001', 'ACOT11', 53.2),
 ('U0001', 'ACOT12', 0.0),
 ('U0001', 'ACOT13', 18.17),
 ('U0001', 'ACOT2', 22.93),
 ('U0001', 'ACOT4', 3.05),
 ('U0001', 'ACOT6', 0.0),
 ('U0001', 'ACOT7', 4.21),
 ('U0001', 'ACOT8', 28.43),
 ('U0001', 'ACOT9', 23.18),
 ('U0001', 'ACOX1', 137.65),
 ('U0001', 'ACOX2', 0.24),
 ('U0001', 'ACOX3', 32.12),
 ('U0001', 'ACOXL', 46.07),
 ('U0001', 'ACOXL-AS1', 0.0),
 ('U0001', 'ACP1', 196.47),
 ('U0001', 'ACP2', 16.08),
 ('U0001', 'ACP3', 3.99),
 ('U0001', 'ACP4', 0.0),
 ('U0001', 'ACP5', 14.13),
 ('U0001', 'ACP6', 33.39),
 ('U0001', 'ACP7', 1.11),
 ('U0001', 'ACR', 0.0),
 ('U0001', 'ACRBP', 0.78),
 ('U0001', 'ACRP1', 0.0),
 ('U0001', 'ACRV1', 0.0),
 ('U0001', 'ACSBG1', 30.62),
 ('U0001', 'ACSBG2', 0.0),
 ('U0001', 'ACSF2', 96.86),
 ('U0001', 'ACSF3', 20.73),
 ('U0001', 'ACSL1', 21.87),
 ('U0001', 'ACSL3', 101.07),
 ('U0001', 'ACSL3-AS1', 0.0),
 ('U0001', 'ACSL4', 19.13),
 ('U0001', 'ACSL5', 247.2),
 ('U0001', 'ACSL6', 0.0),
 ('U0001', 'ACSL6-AS1', 0.0),
 ('U0001', 'ACSM1', 2.12),
 ('U0001', 'ACSM2A', 0.0),
 ('U0001', 'ACSM2B', 0.0),
 ('U0001', 'ACSM3', 21.06),
 ('U0001', 'ACSM4', 0.0),
 ('U0001', 'ACSM5', 1.1),
 ('U0001', 'ACSM5P1', 0.0),
 ('U0001', 'ACSM6', 0.25),
 ('U0001', 'ACSS1', 11.97),
 ('U0001', 'ACSS2', 18.31),
 ('U0001', 'ACSS3', 0.07),
 ('U0001', 'ACTA1', 0.0),
 ('U0001', 'ACTA2', 69.54),
 ('U0001', 'ACTA2-AS1', 0.65),
 ('U0001', 'ACTB', 1883.46),
 ('U0001', 'ACTBL2', 0.0),
 ('U0001', 'ACTBP1', 0.0),
 ('U0001', 'ACTBP11', 0.0),
 ('U0001', 'ACTBP12', 0.0),
 ('U0001', 'ACTBP14', 0.0),
 ('U0001', 'ACTBP15', 0.0),
 ('U0001', 'ACTBP2', 0.0),
 ('U0001', 'ACTBP6', 0.0),
 ('U0001', 'ACTBP7', 0.0),
 ('U0001', 'ACTBP8', 0.0),
 ('U0001', 'ACTBP9', 0.0),
 ('U0001', 'ACTC1', 0.0),
 ('U0001', 'ACTE1P', 0.0),
 ('U0001', 'ACTG1', 2652.53),
 ('U0001', 'ACTG1P1', 1.52),
 ('U0001', 'ACTG1P10', 0.0),
 ('U0001', 'ACTG1P11', 0.0),
 ('U0001', 'ACTG1P12', 0.0),
 ('U0001', 'ACTG1P13', 0.0),
 ('U0001', 'ACTG1P14', 0.58),
 ('U0001', 'ACTG1P15', 0.0),
 ('U0001', 'ACTG1P16', 0.0),
 ('U0001', 'ACTG1P17', 0.43),
 ('U0001', 'ACTG1P18', 0.0),
 ('U0001', 'ACTG1P19', 0.0),
 ('U0001', 'ACTG1P2', 0.0),
 ('U0001', 'ACTG1P20', 2.19),
 ('U0001', 'ACTG1P21', 0.0),
 ('U0001', 'ACTG1P22', 0.0),
 ('U0001', 'ACTG1P23', 0.0),
 ('U0001', 'ACTG1P24', 0.0),
 ('U0001', 'ACTG1P25', 0.17),
 ('U0001', 'ACTG1P3', 1.55),
 ('U0001', 'ACTG1P4', 0.0),
 ('U0001', 'ACTG1P9', 0.0),
 ('U0001', 'ACTG2', 6.09),
 ('U0001', 'ACTL10', 3.6),
 ('U0001', 'ACTL11P', 0.0),
 ('U0001', 'ACTL6A', 68.62),
 ('U0001', 'ACTL6B', 0.0),
 ('U0001', 'ACTL7A', 0.0),
 ('U0001', 'ACTL7B', 0.0),
 ('U0001', 'ACTL8', 0.0),
 ('U0001', 'ACTL9', 0.0),
 ('U0001', 'ACTN1', 11.06),
 ('U0001', 'ACTN2', 0.0),
 ('U0001', 'ACTN3', 0.0),
 ('U0001', 'ACTN4', 92.74),
 ('U0001', 'ACTN4P1', 0.0),
 ('U0001', 'ACTN4P2', 0.0),
 ('U0001', 'ACTP1', 0.0),
 ('U0001', 'ACTR10', 82.94),
 ('U0001', 'ACTR1A', 71.34),
 ('U0001', 'ACTR1AP1', 0.0),
 ('U0001', 'ACTR1B', 37.39),
 ('U0001', 'ACTR2', 181.39),
 ('U0001', 'ACTR3', 317.87),
 ('U0001', 'ACTR3B', 4.25),
 ('U0001', 'ACTR3BP1', 0.0),
 ('U0001', 'ACTR3BP2', 0.0),
 ('U0001', 'ACTR3BP3', 0.0),
 ('U0001', 'ACTR3BP4', 0.0),
 ('U0001', 'ACTR3BP5', 0.0),
 ('U0001', 'ACTR3BP7', 0.0),
 ('U0001', 'ACTR3C', 58.71),
 ('U0001', 'ACTR3P2', 0.0),
 ('U0001', 'ACTR3P3', 0.0),
 ('U0001', 'ACTR5', 4.19),
 ('U0001', 'ACTR6', 32.97),
 ('U0001', 'ACTR6P1', 0.0),
 ('U0001', 'ACTR8', 42.96),
 ('U0001', 'ACTRT1', 0.0),
 ('U0001', 'ACTRT1P1', 0.0),
 ('U0001', 'ACTRT2', 0.0),
 ('U0001', 'ACTRT3', 6.38),
 ('U0001', 'ACVR1', 5.76),
 ('U0001', 'ACVR1B', 23.36),
 ('U0001', 'ACVR1C', 0.0),
 ('U0001', 'ACVR2A', 29.62),
 ('U0001', 'ACVR2B', 6.92),
 ('U0001', 'ACVR2B-AS1', 0.67),
 ('U0001', 'ACVRL1', 31.18),
 ('U0001', 'ACY1', 31.11),
 ('U0001', 'ACY3', 0.0),
 ('U0001', 'ACYP1', 17.62),
 ('U0001', 'ACYP2', 15.36),
 ('U0001', 'ADA', 0.29),
 ('U0001', 'ADA2', 13.6),
 ('U0001', 'ADAD1', 0.0),
 ('U0001', 'ADAD1P2', 0.0),
 ('U0001', 'ADAD2', 0.0),
 ('U0001', 'ADAL', 5.15),
 ('U0001', 'ADAM10', 461.57),
 ('U0001', 'ADAM11', 0.0),
 ('U0001', 'ADAM12', 0.18),
 ('U0001', 'ADAM15', 19.54),
 ('U0001', 'ADAM17', 60.07),
 ('U0001', 'ADAM18', 0.0),
 ('U0001', 'ADAM19', 0.2),
 ('U0001', 'ADAM1A', 0.0),
 ('U0001', 'ADAM1B', 0.1),
 ('U0001', 'ADAM2', 0.0),
 ('U0001', 'ADAM20', 0.47),
 ('U0001', 'ADAM20P1', 0.26),
 ('U0001', 'ADAM20P2', 0.0),
 ('U0001', 'ADAM20P3', 0.0),
 ('U0001', 'ADAM21', 0.0),
 ('U0001', 'ADAM21P1', 0.0),
 ('U0001', 'ADAM22', 0.29),
 ('U0001', 'ADAM23', 0.11),
 ('U0001', 'ADAM24P', 0.0),
 ('U0001', 'ADAM28', 33.29),
 ('U0001', 'ADAM29', 0.0),
 ('U0001', 'ADAM30', 0.0),
 ('U0001', 'ADAM32', 0.21),
 ('U0001', 'ADAM33', 0.0),
 ('U0001', 'ADAM3A', 0.0),
 ('U0001', 'ADAM3B', 0.0),
 ('U0001', 'ADAM5', 0.0),
 ('U0001', 'ADAM6', 0.0),
 ('U0001', 'ADAM7', 0.0),
 ('U0001', 'ADAM8', 23.79),
 ('U0001', 'ADAM9', 155.79),
 ('U0001', 'ADAMDEC1', 2.66),
 ('U0001', 'ADAMTS1', 21.41),
 ('U0001', 'ADAMTS10', 1.61),
 ('U0001', 'ADAMTS12', 0.11),
 ('U0001', 'ADAMTS13', 0.09),
 ('U0001', 'ADAMTS14', 0.27),
 ('U0001', 'ADAMTS15', 4.2),
 ('U0001', 'ADAMTS16', 0.11),
 ('U0001', 'ADAMTS17', 0.19),
 ('U0001', 'ADAMTS18', 0.44),
 ('U0001', 'ADAMTS19', 0.1),
 ('U0001', 'ADAMTS19-AS1', 0.0),
 ('U0001', 'ADAMTS2', 0.9),
 ('U0001', 'ADAMTS20', 0.0),
 ('U0001', 'ADAMTS3', 0.0),
 ('U0001', 'ADAMTS4', 0.36),
 ('U0001', 'ADAMTS5', 0.33),
 ('U0001', 'ADAMTS6', 0.4),
 ('U0001', 'ADAMTS7', 0.9),
 ('U0001', 'ADAMTS7P1', 0.0),
 ('U0001', 'ADAMTS7P3', 0.0),
 ('U0001', 'ADAMTS7P4', 0.6),
 ('U0001', 'ADAMTS8', 0.07),
 ('U0001', 'ADAMTS9', 7.74),
 ('U0001', 'ADAMTS9-AS1', 0.0),
 ('U0001', 'ADAMTS9-AS2', 0.22),
 ('U0001', 'ADAMTSL1', 1.23),
 ('U0001', 'ADAMTSL2', 1.28),
 ('U0001', 'ADAMTSL3', 1.59),
 ('U0001', 'ADAMTSL4', 0.29),
 ('U0001', 'ADAMTSL4-AS1', 1.44),
 ('U0001', 'ADAMTSL4-AS2', 0.4),
 ('U0001', 'ADAMTSL5', 3.91),
 ('U0001', 'ADAP1', 4.64),
 ('U0001', 'ADAP2', 11.25),
 ('U0001', 'ADAR', 86.93),
 ('U0001', 'ADARB1', 3.43),
 ('U0001', 'ADARB2', 0.1),
 ('U0001', 'ADARB2-AS1', 0.0),
 ('U0001', 'ADAT1', 49.47),
 ('U0001', 'ADAT2', 6.52),
 ('U0001', 'ADAT3', 0.42),
 ('U0001', 'ADCK1', 4.13),
 ('U0001', 'ADCK2', 18.95),
 ('U0001', 'ADCK5', 4.86),
 ('U0001', 'ADCY1', 6.83),
 ('U0001', 'ADCY10', 0.0),
 ('U0001', 'ADCY10P1', 0.77),
 ('U0001', 'ADCY2', 0.0),
 ('U0001', 'ADCY3', 11.62),
 ('U0001', 'ADCY4', 4.22),
 ('U0001', 'ADCY5', 0.2),
 ('U0001', 'ADCY6', 23.85),
 ('U0001', 'ADCY6-DT', 0.0),
 ('U0001', 'ADCY7', 3.37),
 ('U0001', 'ADCY8', 0.0),
 ('U0001', 'ADCY9', 1.94),
 ('U0001', 'ADCYAP1', 0.0),
 ('U0001', 'ADCYAP1R1', 0.0),
 ('U0001', 'ADD1', 173.72),
 ('U0001', 'ADD2', 0.0),
 ('U0001', 'ADD3', 107.0),
 ('U0001', 'ADD3-AS1', 0.0),
 ('U0001', 'ADGB', 0.0),
 ('U0001', 'ADGRA1', 0.0),
 ('U0001', 'ADGRA1-AS1', 0.0),
 ('U0001', 'ADGRA2', 2.36),
 ('U0001', 'ADGRA3', 3.41),
 ('U0001', 'ADGRB1', 0.0),
 ('U0001', 'ADGRB2', 1.55),
 ('U0001', 'ADGRB3', 0.0),
 ('U0001', 'ADGRD1', 0.08),
 ('U0001', 'ADGRD1-AS1', 0.0),
 ('U0001', 'ADGRD2', 0.0),
 ('U0001', 'ADGRE1', 0.15),
 ('U0001', 'ADGRE2', 4.19),
 ('U0001', 'ADGRE3', 0.1),
 ('U0001', 'ADGRE4P', 0.2),
 ('U0001', 'ADGRE5', 11.25),
 ('U0001', 'ADGRF1', 39.24),
 ('U0001', 'ADGRF2', 0.05),
 ('U0001', 'ADGRF3', 0.15),
 ('U0001', 'ADGRF4', 26.33),
 ('U0001', 'ADGRF5', 6.88),
 ('U0001', 'ADGRF5-AS1', 0.0),
 ('U0001', 'ADGRF5P1', 0.43),
 ('U0001', 'ADGRF5P2', 0.0),
 ('U0001', 'ADGRG1', 37.55),
 ('U0001', 'ADGRG2', 0.0),
 ('U0001', 'ADGRG3', 0.31),
 ('U0001', 'ADGRG4', 0.0),
 ('U0001', 'ADGRG5', 0.0),
 ('U0001', 'ADGRG6', 80.84),
 ('U0001', 'ADGRG7', 0.0),
 ('U0001', 'ADGRL1', 5.11),
 ('U0001', 'ADGRL2', 19.35),
 ('U0001', 'ADGRL3', 0.69),
 ('U0001', 'ADGRL3-AS1', 0.0),
 ('U0001', 'ADGRL4', 11.16),
 ('U0001', 'ADGRV1', 76.04),
 ('U0001', 'ADH1A', 0.0),
 ('U0001', 'ADH1B', 0.0),
 ('U0001', 'ADH1C', 2.3),
 ('U0001', 'ADH4', 0.57),
 ('U0001', 'ADH5', 164.67),
 ('U0001', 'ADH5P2', 0.0),
 ('U0001', 'ADH5P3', 0.0),
 ('U0001', 'ADH5P4', 0.0),
 ('U0001', 'ADH5P5', 0.0),
 ('U0001', 'ADH6', 0.0),
 ('U0001', 'ADH7', 0.0),
 ('U0001', 'ADHFE1', 11.3),
 ('U0001', 'ADI1', 131.45),
 ('U0001', 'ADI1P1', 0.0),
 ('U0001', 'ADI1P2', 0.0),
 ('U0001', 'ADI1P3', 0.0),
 ('U0001', 'ADIG', 0.0),
 ('U0001', 'ADIPOQ', 0.0),
 ('U0001', 'ADIPOQ-AS1', 0.0),
 ('U0001', 'ADIPOR1', 280.46),
 ('U0001', 'ADIPOR1P1', 0.0),
 ('U0001', 'ADIPOR1P2', 0.0),
 ('U0001', 'ADIPOR2', 24.16),
 ('U0001', 'ADIRF', 1907.55),
 ('U0001', 'ADIRF-AS1', 1.99),
 ('U0001', 'ADK', 34.07),
 ('U0001', 'ADM', 19.68),
 ('U0001', 'ADM2', 0.0),
 ('U0001', 'ADM5', 1.24),
 ('U0001', 'ADNP', 26.28),
 ('U0001', 'ADNP-AS1', 0.45),
 ('U0001', 'ADNP2', 14.61),
 ('U0001', 'ADO', 18.2),
 ('U0001', 'ADORA1', 0.0),
 ('U0001', 'ADORA2A', 0.0),
 ('U0001', 'ADORA2A-AS1', 0.0),
 ('U0001', 'ADORA2B', 1.01),
 ('U0001', 'ADORA2BP1', 0.0),
 ('U0001', 'ADORA3', 2.56),
 ('U0001', 'ADPGK', 43.04),
 ('U0001', 'ADPGK-AS1', 0.14),
 ('U0001', 'ADPRH', 1.05),
 ('U0001', 'ADPRHL1', 1.14),
 ('U0001', 'ADPRM', 10.8),
 ('U0001', 'ADPRS', 40.37),
 ('U0001', 'ADRA1A', 0.0),
 ('U0001', 'ADRA1B', 0.0),
 ('U0001', 'ADRA1D', 0.0),
 ('U0001', 'ADRA2A', 0.14),
 ('U0001', 'ADRA2B', 0.3),
 ('U0001', 'ADRA2C', 0.1),
 ('U0001', 'ADRB1', 7.42),
 ('U0001', 'ADRB2', 2.33),
 ('U0001', 'ADRB3', 0.0),
 ('U0001', 'ADRM1', 79.99),
 ('U0001', 'ADSL', 97.43),
 ('U0001', 'ADSS1', 76.05),
 ('U0001', 'ADSS2', 124.51),
 ('U0001', 'ADTRP', 0.36),
 ('U0001', 'AEBP1', 1.46),
 ('U0001', 'AEBP2', 37.93),
 ('U0001', 'AEN', 16.14),
 ('U0001', 'AFAP1', 2.64),
 ('U0001', 'AFAP1-AS1', 0.0),
 ('U0001', 'AFAP1L1', 5.24),
 ('U0001', 'AFAP1L2', 7.61),
 ('U0001', 'AFDN', 72.79),
 ('U0001', 'AFDN-DT', 0.06),
 ('U0001', 'AFF1', 23.93),
 ('U0001', 'AFF2', 0.16),
 ('U0001', 'AFF2-IT1', 0.0),
 ('U0001', 'AFF3', 0.12),
 ('U0001', 'AFF4', 26.88),
 ('U0001', 'AFG1L', 11.33),
 ('U0001', 'AFG3L1P', 12.37),
 ('U0001', 'AFG3L2', 38.83),
 ('U0001', 'AFG3L2P1', 0.0),
 ('U0001', 'AFM', 0.0),
 ('U0001', 'AFMID', 88.42),
 ('U0001', 'AFP', 0.0),
 ('U0001', 'AFTPH', 54.05),
 ('U0001', 'AGA', 50.01),
 ('U0001', 'AGAP1', 7.69),
 ('U0001', 'AGAP1-IT1', 0.0),
 ('U0001', 'AGAP10P', 0.35),
 ('U0001', 'AGAP11', 14.58),
 ('U0001', 'AGAP12P', 0.11),
 ('U0001', 'AGAP13P', 0.0),
 ('U0001', 'AGAP14P', 0.45),
 ('U0001', 'AGAP2', 7.63),
 ('U0001', 'AGAP2-AS1', 8.71),
 ('U0001', 'AGAP3', 82.78),
 ('U0001', 'AGAP4', 11.67),
 ('U0001', 'AGAP5', 12.4),
 ('U0001', 'AGAP6', 7.15),
 ('U0001', 'AGAP7P', 3.57),
 ('U0001', 'AGAP9', 6.75),
 ('U0001', 'AGBL1', 0.0),
 ('U0001', 'AGBL1-AS1', 0.0),
 ('U0001', 'AGBL2', 3.18),
 ('U0001', 'AGBL3', 3.51),
 ('U0001', 'AGBL4', 0.06),
 ('U0001', 'AGBL4-AS1', 0.0),
 ('U0001', 'AGBL4-IT1', 0.0),
 ('U0001', 'AGBL5', 27.96),
 ('U0001', 'AGBL5-AS1', 0.0),
 ('U0001', 'AGBL5-IT1', 0.0),
 ('U0001', 'AGER', 0.73),
 ('U0001', 'AGFG1', 40.74),
 ('U0001', 'AGFG2', 16.77),
 ('U0001', 'AGGF1', 37.27),
 ('U0001', 'AGGF1P1', 0.09),
 ('U0001', 'AGGF1P10', 0.0),
 ('U0001', 'AGGF1P2', 0.0),
 ('U0001', 'AGGF1P3', 0.0),
 ('U0001', 'AGGF1P4', 0.0),
 ('U0001', 'AGGF1P5', 0.0),
 ('U0001', 'AGGF1P6', 0.0),
 ('U0001', 'AGGF1P7', 0.0),
 ('U0001', 'AGGF1P8', 0.0),
 ('U0001', 'AGGF1P9', 0.0),
 ('U0001', 'AGK', 24.61),
 ('U0001', 'AGKP1', 0.5),
 ('U0001', 'AGKP2', 0.0),
 ('U0001', 'AGL', 18.71),
 ('U0001', 'AGMAT', 5.71),
 ('U0001', 'AGMO', 13.19),
 ('U0001', 'AGO1', 11.36),
 ('U0001', 'AGO2', 11.18),
 ('U0001', 'AGO3', 9.27),
 ('U0001', 'AGO4', 27.79),
 ('U0001', 'AGPAT1', 17.93),
 ('U0001', 'AGPAT2', 16.06),
 ('U0001', 'AGPAT3', 76.37),
 ('U0001', 'AGPAT4', 1.0),
 ('U0001', 'AGPAT5', 23.7),
 ('U0001', 'AGPAT5P1', 0.0),
 ('U0001', 'AGPS', 26.86),
 ('U0001', 'AGR2', 1328.84),
 ('U0001', 'AGR3', 0.0),
 ('U0001', 'AGRN', 27.63),
 ('U0001', 'AGRP', 0.0),
 ('U0001', 'AGT', 0.0),
 ('U0001', 'AGTPBP1', 4.35),
 ('U0001', 'AGTR1', 1.16),
 ('U0001', 'AGTR2', 0.0),
 ('U0001', 'AGTRAP', 27.4),
 ('U0001', 'AGXT', 0.0),
 ('U0001', 'AGXT2', 0.0),
 ('U0001', 'AHCTF1', 25.45),
 ('U0001', 'AHCTF1P1', 0.29),
 ('U0001', 'AHCY', 67.34),
 ('U0001', 'AHCYL1', 65.77),
 ('U0001', 'AHCYL2', 7.61),
 ('U0001', 'AHCYP2', 0.0),
 ('U0001', 'AHCYP3', 0.0),
 ('U0001', 'AHCYP4', 0.0),
 ('U0001', 'AHCYP5', 0.0),
 ('U0001', 'AHCYP7', 0.0),
 ('U0001', 'AHCYP8', 0.0),
 ('U0001', 'AHDC1', 1.86),
 ('U0001', 'AHI1', 22.19),
 ('U0001', 'AHNAK', 146.17),
 ('U0001', 'AHNAK2', 7.81),
 ('U0001', 'AHR', 184.42),
 ('U0001', 'AHRR', 0.28),
 ('U0001', 'AHSA1', 249.68),
 ('U0001', 'AHSA2P', 77.98),
 ('U0001', 'AHSG', 0.0),
 ('U0001', 'AHSP', 0.0),
 ('U0001', 'AICDA', 0.0),
 ('U0001', 'AIDA', 27.1),
 ('U0001', 'AIDAP1', 0.0),
 ('U0001', 'AIDAP2', 0.61),
 ('U0001', 'AIDAP3', 0.0),
 ('U0001', 'AIF1', 2.78),
 ('U0001', 'AIF1L', 0.52),
 ('U0001', 'AIFM1', 26.07),
 ('U0001', 'AIFM1P1', 0.0),
 ('U0001', 'AIFM2', 3.86),
 ('U0001', 'AIFM3', 29.19),
 ('U0001', 'AIG1', 290.88),
 ('U0001', 'AIG1P1', 0.0),
 ('U0001', 'AIM2', 49.55),
 ('U0001', 'AIMP1', 45.46),
 ('U0001', 'AIMP1P1', 0.0),
 ('U0001', 'AIMP1P2', 0.0),
 ('U0001', 'AIMP2', 39.93),
 ('U0001', 'AIP', 82.99),
 ('U0001', 'AIPL1', 0.0),
 ('U0001', 'AIRE', 0.0),
 ('U0001', 'AIRN', 0.0),
 ('U0001', 'AJAP1', 0.69),
 ('U0001', 'AJM1', 0.94),
 ('U0001', 'AJUBA', 19.63),
 ('U0001', 'AK1', 14.38),
 ('U0001', 'AK2', 116.04),
 ('U0001', 'AK2P2', 0.0),
 ('U0001', 'AK3', 70.27),
 ('U0001', 'AK3P2', 0.0),
 ('U0001', 'AK3P3', 0.4),
 ('U0001', 'AK3P4', 0.0),
 ('U0001', 'AK3P5', 0.0),
 ('U0001', 'AK4', 10.88),
 ('U0001', 'AK4P1', 3.88),
 ('U0001', 'AK4P2', 0.0),
 ('U0001', 'AK4P3', 0.0),
 ('U0001', 'AK4P4', 0.0),
 ('U0001', 'AK4P5', 0.0),
 ('U0001', 'AK4P6', 0.0),
 ('U0001', 'AK5', 0.6),
 ('U0001', 'AK6', 45.62),
 ('U0001', 'AK6P1', 0.0),
 ('U0001', 'AK6P2', 0.0),
 ('U0001', 'AK7', 0.22),
 ('U0001', 'AK8', 0.0),
 ('U0001', 'AK9', 11.64),
 ('U0001', 'AKAIN1', 0.0),
 ('U0001', 'AKAP1', 46.56),
 ('U0001', 'AKAP10', 16.91),
 ('U0001', 'AKAP11', 11.84),
 ('U0001', 'AKAP12', 2.35),
 ('U0001', 'AKAP13', 61.88),
 ('U0001', 'AKAP14', 0.0),
 ('U0001', 'AKAP17A', 43.26),
 ('U0001', 'AKAP17BP', 0.0),
 ('U0001', 'AKAP3', 0.39),
 ('U0001', 'AKAP4', 0.0),
 ('U0001', 'AKAP5', 1.62),
 ('U0001', 'AKAP6', 0.26),
 ('U0001', 'AKAP7', 29.97),
 ('U0001', 'AKAP8', 42.99),
 ('U0001', 'AKAP8L', 86.14),
 ('U0001', 'AKAP8P1', 0.0),
 ('U0001', 'AKAP9', 35.6),
 ('U0001', 'AKIP1', 51.4),
 ('U0001', 'AKIRIN1', 56.22),

In [100]:
len(data_tuples)

64308873

In [101]:
try:
    cursor.executemany("""
        INSERT INTO Gene_Expression (sample_id, gene_name, TPM)
        VALUES (?, ?, ?)
    """, data_tuples)
except sqlite3.IntegrityError as e:
    print("IntegrityError:", e)

In [102]:
# Save changes
conn.commit()

In [103]:
cursor.execute("SELECT COUNT(*) FROM Gene_Expression")
row_count = cursor.fetchone()[0]
print(f"Total rows in Gene_Expression: {row_count}")

Total rows in Gene_Expression: 64308873

In [104]:
# Close without saving changes
conn.close()